// Colors.
$seance: #641280;
$sulu: #9df680;

// Colors aliases.
$primary-color: $seance;
$secondary-color: $sulu;

// Spacing.
$v-space: 24px;
$h-space: 16px;

// Font.
$font-family: 'Roboto', sans-serif;
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;
